body {
    background: url('../image/decoration/background.jpg') center top no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.layui-carousel img{
    width: 1140px;
    height: 500px;
}

h3,h5,p{
    color: white;
    text-align: center;
}


.layui-carousel .words{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.layui-main{
    padding-left: 20px;
}
.layui-main img{
    width: 360px;
    height: 300px;
}

.layui-bg-cyan{
    padding: 1em;
    height: 350px;
    text-align: center;
}
.layui-inline{
    width: 350px;
    height: 600px;
}